/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style du titre principal */
h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #333;
}

/* Style du texte principal */
p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin: 20px;
}

/* Style du menu de navigation */
.menu {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.menu p {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}
/* Style pour tous les liens du menu */
.menu ul li a {
    color: #000; /* Couleur du texte par défaut */
    background-color: transparent; /* Fond transparent par défaut */
    padding: 10px 20px; /* Espace autour du texte pour le remplissage */
    text-decoration: none; /* Supprime les soulignements par défaut des liens */
    transition: background-color 0.3s; /* Animation de transition pour une couleur de fond fluide */
}

/* Style pour les liens actifs (sélectionnés) du menu */
.menu ul li a:hover,
.menu ul li a:focus {
    background-color: #ff0000; /* Couleur de fond différente pour les liens au survol ou au focus */
    color: #fff; /* Couleur du texte pour les liens au survol ou au focus */
}
