/**/
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Style pour l'en-tête avec l'image et le texte */
h1 {
    font-size: 32px;
    margin: 20px 0;
}

img {
    border-radius: 50%; /* Pour un effet de cercle autour de la photo */
    width: 150px;
    height: 150px;
    object-fit: cover; /* Pour ajuster la taille de l'image */
    border: 5px solid #fff; /* Bordure blanche autour de la photo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère autour de la photo */
}

/* Style pour le paragraphe de présentation */
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

/* Style pour les titres de section */
h2 {
    font-size: 24px;
    margin: 20px 0;
}

/* Style pour les sous-titres */
h3 {
    font-size: 20px;
    margin: 10px 0;
    text-decoration: underline;
}

/* Style pour les listes à puces */
ul {
    text-align: left;
    list-style-type: disc;
    margin-left: 20px;
}

/* Style pour les lignes horizontales */
hr {
    border: none;
    border-top: 2px solid #333;
    width: 80%;
    margin: 20px auto;
}

/* Style pour les liens */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Style pour les compétences et les langues */
p.skills {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

/* Style pour les centres d'intérêt */
p.interests {
    font-size: 16px;
    margin: 10px 0;
}


